In [1]:
#Dataset

In [37]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
df=pd.read_excel("Online retail.xlsx")
df

     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7500 rows x 1 columns]

In [7]:
df.info

<bound method DataFrame.info of      shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7500 rows x 1 columns]>

In [8]:
df.head()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [59]:
df.shape

(5175, 1)

In [11]:
#Data Preprocessing

In [39]:
df = df.drop_duplicates()
df = df.dropna()

In [41]:
basket = df.astype(bool)
basket.head()

   shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                               True
1                                               True
2                                               True
3                                               True
4                                               True

In [ ]:
#Association rule mining

In [60]:
frequent_itemsets = apriori(basket, min_support=0.2, use_colnames=True)
frequent_itemsets

   support                                           itemsets
0      1.0  (shrimp,almonds,avocado,vegetables mix,green g...

In [43]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rul

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

In [45]:
rules = rules.sort_values(by='lift', ascending=False)
rules.head(10)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

In [48]:
strong_rules = rules[(rules['confidence'] > 0.6) & (rules['lift'] > 1.2)]
print(strong_rules)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

In [52]:
meaningful_rules = rules[(rules['lift'] > 1.2) & (rules['confidence'] > 0.6)]
print(meaningful_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])
meaningful_rules.head(10)

Empty DataFrame
Columns: [antecedents, consequents, support, confidence, lift]
Index: []

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

In [54]:
interesting_rules = rules[(rules['confidence'] > 0.6) & (rules['lift'] > 1.2)]
interesting_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]
interesting_rules.head(10)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

In [ ]:
#Analysis and interpretation

In [61]:
meaningful_rules.head(10)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

In [67]:
len(meaningful_rules)
meaningful_rules['support'].mean()

nan

In [68]:
meaningful_rules['confidence'].mean()

nan

In [69]:
meaningful_rules['lift'].mean()

nan

In [63]:
from collections import Counter

antecedents = [item for sublist in meaningful_rules['antecedents'] for item in sublist]
consequents = [item for sublist in meaningful_rules['consequents'] for item in sublist]

antecedent_counts = Counter(antecedents)
consequent_counts = Counter(consequents)

antecedent_counts.most_common(10)
consequent_counts.most_common(10)

[]

In [64]:
top_lift_rules = meaningful_rules.sort_values(by='lift', ascending=False).head(10)
print("\nTop 10 Strongest Rules by Lift:")
print(top_lift_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

Top 10 Strongest Rules by Lift:
Empty DataFrame
Columns: [antecedents, consequents, support, confidence, lift]
Index: []

In [65]:
print("\nðŸ’¡ Insights into Customer Purchasing Behaviour:")
print("- Products frequently bought together can be bundled for promotions.")
print("- High-lift rules indicate strong associations beyond random chance.")
print("- Frequently occurring antecedents are key products that trigger additional purchases.")
print("- Low support but high lift rules may reveal niche but strong buying patterns.")

ðŸ’¡ Insights into Customer Purchasing Behaviour:
- Products frequently bought together can be bundled for promotions.
- High-lift rules indicate strong associations beyond random chance.
- Frequently occurring antecedents are key products that trigger additional purchases.
- Low support but high lift rules may reveal niche but strong buying patterns.

In [70]:
#Interview Questions

In [71]:
#1.Lift is a measure that shows how much more likely the consequent of a rule is purchased when the antecedent is purchased, compared to its baseline probability.
#Confidence = Probability that consequent occurs given antecedent.
#Support of the consequent = Probability that consequent occurs at all in the dataset.

#why is it important in association rule
#Lift tells you the strength of association between products, beyond what would happen by chance.
#Lift = 1 â†’ Antecedent and consequent are independent (no association).
#Lift > 1 â†’ Positive association; buying the antecedent increases likelihood of buying the consequent.
#Lift < 1 â†’ Negative association; buying the antecedent reduces likelihood of buying the consequent.

In [ ]:
#2.
#Support
#It tells you the popularity or frequency of an item or combination of items
#Formula:
#Support(A)=NumberÂ ofÂ transactionsÂ containingÂ A/TotalÂ numberÂ ofÂ transactions

#Confidence
#Confidence measures how often the consequent occurs when the antecedent occurs.
#It tells you the reliability of the rule A â†’ B.
#Formula:
#Confidence(AÂ â†’Â B)=Support(AÂ âˆ©Â B)/Support(A)