In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("anime.csv")
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [2]:
#Task-1:

In [3]:
#Data Preprocessing

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [5]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [6]:
df.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [7]:
df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [8]:
df.columns.tolist()

['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members']

In [11]:
df = df.dropna(subset=['name', 'genre']).copy()  # <-- add .copy()

if 'type' in df.columns:
    most_common_type = df['type'].mode()[0]
    df.loc[:, 'type'] = df['type'].fillna(most_common_type)

if 'rating' in df.columns:
    df.loc[:, 'rating'] = df['rating'].fillna(df['rating'].mean())

df.loc[:, 'episodes'] = pd.to_numeric(df['episodes'], errors='coerce')
df.loc[:, 'episodes'] = df['episodes'].fillna(df['episodes'].median())

In [12]:
df = df.drop_duplicates()
df.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [13]:
#feature extraction

In [14]:
feature=df.copy()

In [15]:
df_genre = feature['genre'].str.get_dummies(sep=',')
df_genre.head()

,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,Harem,...,Shoujo,Shounen,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df_feature = pd.concat([df_genre, feature[['rating', 'members']]], axis=1)
df_feature.head()

,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,Harem,...,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,rating,members
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,9.37,200630
1,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,9.26,793665
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,9.25,114262
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,9.17,673572
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,9.16,151266

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_feature[['rating', 'members']] = scaler.fit_transform(df_feature[['rating', 'members']])
df_feature.head()

,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,Harem,...,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,rating,members
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.924370,0.197872
1,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0.911164,0.782770
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.909964,0.112689
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.900360,0.664325
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.899160,0.149186

In [18]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(df_feature)
cosine_sim.shape

(12232, 12232)

In [19]:
def recommend_anime(title, df, df_feature, top_n=5, threshold=0.5):
    df_reset = df.reset_index(drop=True)
    df_reset['name_lower'] = df_reset['name'].str.lower()
    title_lower = title.lower()
    if title_lower not in df_reset['name_lower'].values:
        print(f"âŒ '{title}' not found in dataset!")
        return []
    idx = df_reset[df_reset['name_lower'] == title_lower].index[0]
    sim_scores = cosine_similarity(df_feature, df_feature.iloc[[idx]]).flatten()
    sim_scores_filtered = [(i, score) for i, score in enumerate(sim_scores)
                           if score >= threshold and i != idx]
    top_similar = sorted(sim_scores_filtered, key=lambda x: x[1], reverse=True)[:top_n]
    recommendations = [(df_reset.iloc[i]['name'], round(score, 3)) for i, score in top_similar]
    print(f"\nðŸŽ¬ Recommendations for '{title}' (threshold={threshold}):")
    for name, score in recommendations:
        print(f"  - {name} (similarity: {score})")
    return recommendations
recommend_anime("Naruto", df, df_feature, top_n=5, threshold=0.3)

ðŸŽ¬ Recommendations for 'Naruto' (threshold=0.3):
  - Naruto: Shippuuden (similarity: 0.998)
  - Naruto: Shippuuden Movie 4 - The Lost Tower (similarity: 0.97)
  - Naruto: Shippuuden Movie 3 - Hi no Ishi wo Tsugu Mono (similarity: 0.97)
  - Boruto: Naruto the Movie (similarity: 0.969)
  - Naruto x UT (similarity: 0.964)

[('Naruto: Shippuuden', np.float64(0.998)),
 ('Naruto: Shippuuden Movie 4 - The Lost Tower', np.float64(0.97)),
 ('Naruto: Shippuuden Movie 3 - Hi no Ishi wo Tsugu Mono', np.float64(0.97)),
 ('Boruto: Naruto the Movie', np.float64(0.969)),
 ('Naruto x UT', np.float64(0.964))]

In [20]:
#Evaluation

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, df_train, df_test = train_test_split(
    df_feature, df,
    test_size=0.2,
    random_state=42
)
X_train.shape, X_test.shape

((9785, 84), (2447, 84))

In [22]:
def evaluate_recommendations(df, df_feature, top_n=5, thresholds=[0.3, 0.4]):
    df_reset = df.reset_index(drop=True)
    results = {}

    for threshold in thresholds:
        precisions = []
        recalls = []

        for title in df_reset['name'][:50]:  # limit to 50 for speed
            recs = recommend_anime(title, df_reset, df_feature, top_n=top_n, threshold=threshold)
            if not recs:
                continue

            recommended_names = [r[0] for r in recs]
            # Assume relevance = similarity > 0.7 (for demo)
            relevant_items = [r for r in recs if r[1] > 0.7]

            precision = len(relevant_items) / len(recs) if recs else 0
            recall = len(relevant_items) / len(recommended_names) if recommended_names else 0

            precisions.append(precision)
            recalls.append(recall)

        results[threshold] = {
            "avg_precision": round(sum(precisions) / len(precisions), 3) if precisions else 0,
            "avg_recall": round(sum(recalls) / len(recalls), 3) if recalls else 0
        }

    return results
    thresholds_to_test = [0.1, 0.2, 0.3, 0.4]
metrics = evaluate_recommendations(df, df_feature, top_n=5, thresholds=thresholds_to_test)

NameError: name 'thresholds_to_test' is not defined

In [23]:
print("\nðŸ“Š Evaluation Metrics:")
for th, vals in metrics.items():
    print(f"Threshold: {th}")
    print(f"  Avg Precision: {vals['avg_precision']}")
    print(f"  Avg Recall: {vals['avg_recall']}")

ðŸ“Š Evaluation Metrics:

NameError: name 'metrics' is not defined

In [ ]:
#Interview Questions

In [ ]:
#1.User-based collaborative filtering recommends items to a user based on what similar users liked, focusing on user taste similarities. Item-based collaborative filtering recommends items similar to those the user has already liked, focusing on item similarity. User-based works well for small datasets, while item-based scales better for large systems.

In [ ]:
#2.Collaborative filtering is a recommendation technique that suggests items to a user based on the preferences and behavior of other users. It works by analyzing patterns in user-item interactions, such as ratings, purchases, or watch history, to find similarities either between users (user-based) or between items (item-based). By leveraging these similarities, the system predicts which items a user is likely to like, even if they havenâ€™t interacted with them before.